<% content_for :head do %>
  <%= stylesheet_link_tag 'welcome.css' %>
<% end %>
<% content_for :footer do %>
  <#%= javascript_include_tag '' %>
<% end %>
      <div class="jumbotron">
        <h1>Idea Manager</h1>
        <p class="lead">Internal App for collecting Ideas for improving different Areas. The idea is not to enter complaints or problems that you are facing, but rather Solutions! Embrace Continuous Improvement in your Team/Start-up/Company and ideas from everyone!</p>
        <p> Propose new ideas <em>anonymously</em>, and if your idea gets the most votes you can decide to reveal your identity. </p>
        <% unless user_signed_in? %>
          <p><a class="btn btn-lg btn-success" href="<%= new_user_registration_path %>" role="button">Sign up today</a></p>
        <% end %>
      </div>

      <h1>Example Ideas</h1>
        <div class="col-lg-6">
          <h4>New Flipcharts</h4>
          <p> <em>"We need Flipcharts around the office the better communicate among teams".</em></p>
          <p>Votes: <span class="badge">55</span></p>

          <h4>Free Snacks</h4>
          <p><em>"Sugar helps to stimulate the brain. We want sugar rush!"</em></p>
          <p>Votes: <span class="badge">11</span></p>

          <h4>Better Dashboards</h4>
          <p><em>"We need to create a dashboard whose data is feed by querying the database - no more Manual Validation!"</em></p>
          <p>Votes: <span class="badge">65</span></p>
        </div>

        <div class="col-lg-6">
          <h4>Google OKR methodology</h4>
          <p><em>"We should implement Objective Key-Results."</em></p>
          <p>Votes: <span class="badge">12</span></p>

          <h4>Attract Talent</h4>
          <p><em>"We should focus on attracting talent - Video promoting our company´s awesome workplace."</em></p>
          <p>Votes: <span class="badge">23</span></p>

          <h4>Central repository for new Ideas</h4>
          <p><em>"We need a central place where everyone in the company can make suggestions of improvements. Everyone needs to be involved in Innovation!"</em></p>
          <p>Votes: <span class="badge">42</span></p>
        </div>
      </div>
