<h1>Ideas for <%= @area.name.capitalize %> business area</h1>

<div class="row marketing dspace">
  
  <% @idea_months.sort.each do |month,ideas| %>
  	<h3><%= month.strftime("%B %Y") %> Ideas</h3>
  	<% ideas.each do |idea| %>
    	<h4><%= link_to idea.name, idea_path(idea) %></h4>
    <% end %>
  <% end %>

</div>